<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/index/home">LIKE DDALGi</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Other Product</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Purchase</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

 <div class="box">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <hr>
            <h3 class="intro-text text-center">Fail
                <strong>Purchase</strong>
            </h3>
            <hr>
        </div>
        
        <div class="col-md-6">
            <img src="../img/strawberry/image1.jpg" width="100%;" class="thumbnail">
        
        </div>
        
        <div class="col-md-6">
            <a href="/purchase/strawberry"><button type="button" class="btn btn-default">돌아가기</button></a>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 text-center" style="margin-top: 30px;">
            <a href="#buy" class="btn btn-default btn-xl page-scroll">Purchase Now!</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<style>
body{
    background: url('../img/strawberry/likeddalgi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.box {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
{
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
</style>


<script>
$(function(){
	alert("Wrong Input");
})

</script>